# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Large / unnecessary files
data/raw/archive.zip

# Ignore checkpoints by default, but keep the notebook-required weights tracked
checkpoints/*
!checkpoints/backbone_cifar10_pretrained.pt
!checkpoints/best_model_kl.pt
!checkpoints/best_model _kl.pt
!checkpoints/best_model_jsd.pt
!checkpoints/best_model_custom.pt

# Optional: ignore processed data if large
# data/processed/
